::selection {
  background: #009688;
  color: white;
}

.menu {
    width: 200px;
    background-color: #2c3e50;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
}

.menu a {
    color: #FAFAFA;
    display: block;
    padding: 13px;
    text-decoration: none;
}

.menu a, .menu a:hover, .menu a:active, .menu a:visited, .menu a:focus {
    text-decoration:none;
}

.menu a:hover {
    background-color: #34495e;
}

.menu a.active {
    background-color: #009688;
    color: white;
}

.menu a {
  outline: none;
}

.center {
    text-align: center;
}

.welcome-text {
    text-align: justify;
}

.padded-div {
    margin: 0 15% 0 15%;
}

#profile-photo {
    display: block;
    margin: 50px auto;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: solid 7px #607D8B;
    object-fit: cover;
}

.profile-links {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}


.right-float {
    margin-top: 10px;
    margin-left: 5px;
    float: right;
}

.themed-btn {
    border: none;
    text-decoration: none;
    cursor: pointer;
    background-color: #009688;
    color: white;
    padding: 10px 15px;
}

.editable-photo {
    text-align: center;
}

#upload-btn {
    padding: 0px;
    font-size: 12px;
    outline: none;
    border: none;
    border-radius: 6px;
    margin: 0 auto;
}

#description-input {
    width: 100%;
}

#login-form {
    margin-top: 20%;
    text-align: center;
}

.input-form {
    margin-bottom: 15px;
}

.input-form p {
    display: inline;
}

.input-form input {
    display: inline;
}

.form-submit-btn {
    margin-top: 10px;
}

.clear {
    clear: both;
}

.info-table {
    margin-top:40px;
    width: 100%;
    border: none;
    box-shadow: 0px 5px 10px 3px #2c3e50; 
    border-collapse:collapse;
}

.info-table tbody tr td, .info-table thead tr th {
    padding: 10px;
    border: 0;
    border-collapse: collapse;
}

.info-table thead tr th {
    background-color: #607D8B;
    text-align: left;
    color: white;
}

.info-table tbody tr td {
    border-right: 1px solid #90A4AE;
    border-bottom: 1px solid #90A4AE;
    /*background-color: white;*/
}

.info-table tbody tr td:last-child {
    border-right: none;
}

.info-table tbody tr:last-child td {
    border-bottom: 2px solid #2c3e50;
}
